:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #444444;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: row;  
  justify-content: center;
  align-items: center;
  gap: 4px;
}

nav button {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
  cursor: pointer;
}

nav input {
  background-color: #f5f5f5;
  color: #242424;
  min-height: 40px;
  border-radius: 4px;
  line-height: 1.15;
  box-shadow: 0px 10px 20px -18px;
  text-align: center;
  font-size: 16px;
}

nav input:focus {
  border-bottom: 2px solid #5b5fc7;
  border-radius: 4px 4px 2px 2px;
}

nav input:hover {
  outline: 1px solid lightgrey;
}

nav button:hover {
  border: 2px solid #31778d;
}

main {
  margin-top: 32px;
}